@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
  background-image: url("assets/1_pantone_collab_dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

:root:has(
    :is(
        .modal-open,
        .modal:target,
        .modal-toggle:checked + .modal,
        .modal[open]
      )
  ) {
  scrollbar-gutter: unset;
}
